<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Harold's Chicken</title>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #DC3545	
    ;">
        <a class="navbar-brand" href="/"><img src="/static/logo1.png"  height=40px></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
          
          </ul>
          <a href="/login" class="btn btn-outline-light" style="margin-left: 20px;">Login</a>
          <a href="/signup" class="btn btn-outline-light" style="margin-left: 20px;">Sign Up</a>
        </div>
      </nav>
      <div class="container-fluid" style="margin-top: 20px;">
          <div class="jumbotron" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(static/harolds.jpg);
          background-size: cover;
        ">
        <img src="/static/logo1.png"  height=80px style="padding-bottom: 20px;">
            <h1 class="display-6 text-white"><b>Order Harold's Chicken Now!</b></h1>
            <p class="lead text-white">Enjoy Chicago's best fried chicken! Sign up to order and receive special deals and points!</p>
            <a class="btn btn-danger btn-lg shadow" href="/login" role="button">Login</a>
            <a class="btn btn-danger btn-lg shadow" href="/menu" role="button" style="margin-left:10px">Check out the Menu</a>
          </div>

          <div class="card-deck">
            <div class="card shadow">
              <img src="/static/chicken1.jpg" class="card-img-top" alt="...">
              <div class="card-body r">
                <h5 class="card-title">World-Famous Chicken</h5>
                <p class="card-text">Visit our menu and order your favorite chicken meals.</p>
          
              </div>
            </div>
            <div class="card shadow">
              <img src="/static/chicken2.jpg" class="card-img-top" alt="...">
              <div class="card-body ">
                <h5 class="card-title">Located all over Chicago</h5>
                <p class="card-text">Order delivery today from our locations all over the city!</p>
               
              </div>
            </div>
            <div class="card shadow">
              <img src="/static/chicken3.jpg" class="card-img-top" alt="...">
              <div class="card-body ">
                <h5 class="card-title">Made Fresh</h5>
                <p class="card-text">We make our chicken fresh and deliver it to you hot!</p>
              </div>
            </div>
          </div>
      </div>
  
      


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>